body {
  font-family: helvetica;
  color: gray;
  text-align: center;
  background-image: url('images/skyline.jpg');
  background-size: contain;
}

h1 {
  font-size: 60px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
}

nav {

}

main{


}

section {


}

footer{


}
