body {
  font-family: helvetica;
  color: gray;
  text-align: center;
  background-color: black;
}

header {
background-image: url("./resources/images/bridge.jpg");
}

nav {


}

main{


}

section {


}

footer{


}
